.calltoaction{
    display: flex;
    margin-top: 4%;
    margin-left: 0%;

}
.computer{
  width: 840px;
  height: 500px;
  margin-left: 15%;
  border-radius: 40px;
}
.join{
    font-size: 72px;
    font-family: 'old standard tt'; 
}



.texts{
    margin-top: 8%;
    margin-left: 4%;
    font-size: 100px;
    font-family: 'old standard tt'; 
    
}



.contains{
    display: flex;
    margin-top: 3%;
    gap: 70px;
}

.photos{
    width: 50px;
    height: 50px;
    
      
}

.icons{
    display: flex;
    gap: 29px;
}
.hr{
width: 1390px;
padding-left: 9%;
margin-top: 2%;


}
.contact{
    margin-left: 5%;

}
.contacts{
    font-size: 30px;
    font-family: 'old standard tt'; 
}


.policy{
    font-size: 100%;
    font-family: 'old standard tt'; 
}
    

.terms{
    gap: 100px;
    margin-left: 25%;
    

}
.Term{
    font-size:30px;
    font-family: 'old standard tt'; 
}
.copyright{
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
    font-family: 'old standard tt'; 
}
.social{
    margin-left: 25%;

}
.Social{
    font-size: 30px;
    margin-left: 0%;
    font-family: 'old standard tt'; 
}
.photos{
    margin-right: 5%;
}
.copyrights{
    margin-top: 0%;
}
@media screen and (min-width:280px) and (max-width:480px){
    .calltoaction{
        display: block;
        margin-top: 0%;
        margin-left: 0%;
        height: 400px;
    
    }
    .computer{
      width: 220px;
      height: 220px;
      margin-left: 26%;
      margin-top: 18%;
    }
    .join{
        font-size: 20px; 
    }
    
    
    .texts{
        margin-top: 14%;
        margin-left: 25%;
     }
    .contains{
        flex-direction: column;
        margin-top: 0%;
        gap: 5px;
        margin-left: 12%;
    }
    
    .photos{
        width: 30px;
        height: 30px;
    }
    .icons{
        display: flex;
        gap: 29px;
        margin-left: -6%;
    }
    .hr{
        width: 260px;
        padding-left: 2%;
        margin-top: 4%;
    
    
    }
    .contact{
        margin-left: 28%;
        margin-top: -6%;
    
    }
    .contacts{
        font-size: 20px;
        margin-left: -3%;
    }
    
    
    .policy{
        font-size: 100%;
    }
        
    
    .terms{
        gap: 100px;
        margin-left: 24%;
    }
    .Term{
        font-size:20px;
    }
    .copyright{
        
        font-size: 13px;
        margin-top: 9%;
     }
    .social{
        margin-left: 26%;
        
    
    }
    .Social{
        font-size: 20px;
        margin-left: -3%;
        
    }
    .photos{
        margin-right: 5%;
    }
    .copyrights{
        margin-top: 0%;
    }
    .digit{
        margin-left: -5%;
    }

  }

  @media screen and (min-width:481px) and (max-width:680px){
    .calltoaction{
        flex-direction: column;
        margin-top: 3%;
        margin-left: 0%;
    
    }
    .computer{
      width: 280px;
      height: 280px;
      margin-left: 25%;
    }
    .join{
        font-size: 30px; 
    }
    
    
    .texts{
        margin-top: 2%;
        margin-left: 25%;
        
        
    }
    .contains{
        flex-direction: column;
        margin-top: 3%;
        gap: 10px;
        margin-right:9%;

    }
    
    .photos{
        width: 30px;
        height: 30px;
        
          
    }
    
    .icons{
        display: flex;
        gap: 20px;
    }
    .hr{
    width: 279px;
    padding-left: 0%;
    margin-top: 2%;
    
    
    }
    .contact{
        margin-left: 35%;
    
    }
    .contacts{
        font-size: 30px;
    }
    
    
    .policy{
        font-size: 20px;
    }
    .policy{
        font-size: 100%;
    }
        
    
    .terms{
        gap: 100px;
        margin-left: 35%;
        
    
    }
    .Term{
        font-size:30px;
    }
    .copyright{
        
        font-size: 14px;
        margin-top: 9%;
     }
    .social{
        margin-left: 34%;
        
    
    }
    .Social{
        font-size: 30px;
        margin-left: 0%;
    }
    .photos{
        margin-right: 5%;
    }
    .copyrights{
        margin-top: 0%;
    }
}
@media screen and (min-width:680px) and (max-width:880px){
    .calltoaction{
        flex-direction: column;
        margin-top: 3%;
        margin-left: 0%;
    
    }
    .computer{
      width: 380px;
      height: 380px;
      margin-left: 29%;
    }
    .join{
        font-size: 30px; 
    }
    
    
    .texts{
        margin-top: 2%;
        margin-left: 35%;
        
        
    }
    .contains{
        flex-direction: column;
        margin-top: 3%;
        gap: 10px;
        margin-right:9%;

    }
    
    .photos{
        width: 50px;
        height: 50px;
        
          
    }
    
    .icons{
        display: flex;
        gap: 20px;
    }
    .hr{
    width: 400px;
    padding-left: 0%;
    margin-top: 2%;
    
    
    }
    .contact{
        margin-left: 40%;
    
    }
    .contacts{
        font-size: 30px;
    }
    
    
    .policy{
        font-size: 25px;
    }
   
    
    .terms{
        gap: 100px;
        margin-left: 39%;
        
    
    }
    .Term{
        font-size:30px;
    }
    .copyright{
        
        font-size: 20px;
        margin-top: 9%;
     }
    .social{
        margin-left: 39%;
        
    
    }
    .Social{
        font-size: 30px;
        margin-left: 0%;
    }
    .photos{
        margin-right: 5%;
    }
    .copyrights{
        margin-top: 0%;
    }
    .digit{
        font-size: 24px;
    }
}

        
    
@media screen and (min-width:881px) and (max-width:1080px){
    .calltoaction{
        display: flex;
        margin-top: 1%;
        margin-left: 0%;
    
    }
    .computer{
      width: 500px;
      height: 280px;
      margin-left: 26%;
    }
    .join{
        font-size: 30px; 
    }
    

    .texts{
        margin-top: 5%;
        margin-left: 2%;
    }
    .contains{
        display: flex;
        margin-top: 3%;
        gap: 140px;
        margin-left: 0%;
    }
    
    .photos{
        width: 50px;
        height:50px;
        
          
    }
    
    .icons{
        display: flex;
        gap: 10px;
    }
    .hr{
      width: 490px;
      padding-left: 25%;
      margin-top: 0%;
    
    
    }
    .contact{
        margin-left: 2%;
    
    }
    .contacts{
        font-size: 30px;
    }
    
    
    .policy{
        font-size: 20px;
    }
        
    
    .terms{
        gap: 10px;
        margin-left: 2%;
    }
    .Term{
        font-size:30px;
    }
    .copyright{
        
        font-size: 12px;
        margin-top: 1%;
    }
    .social{
        margin-left: 1%;
    }
    .Social{
        font-size: 30px;
        margin-left: 0%;
    }
    .photos{
        margin-right: 5%;
    }
    .copyrights{
        margin-top: 0%;
    }
    .digit{
        font-size: 20px;

    }
}
@media screen and (min-width:1280px) and (max-width:1800px){
    .calltoaction{
        display: flex;
        margin-top: 4%;
        margin-left: 0%;
    }
    .computer{
      width: 650px;
      height: 400px;
      margin-left: 30%;
    }
    .join{
        font-size: 30px; 
    }
    .texts{
        margin-top: 10%;
        margin-left: 4%;
    }
    .contains{
        display: flex;
        margin-top: 3%;
        gap: 285px;
        margin-left: 0%;
    }
    
    .photos{
        width: 50px;
        height:50px;
    }
    
    .icons{
        display: flex;
        gap: 10px;
    }
    .hr{
      width: 700px;
      padding-left: 30%;
      margin-top: 2%;
    }
    .contact{
        margin-left: 5%;
    }
    .contacts{
        font-size: 30px;
    }
    .policy{
         font-size: 20px;
            }
    .terms{
         gap: 10px;
         margin-left: 2%;
         }
            .Term{
                font-size:30px;
            }
            .copyright{
                
                font-size: 20px;
                margin-top: 1%;
            }
            .social{
                margin-left: 1%;
            
            }
            .Social{
                font-size: 30px;
                margin-left: 0%;
            }
            .photos{
                margin-right: 5%;
            }
            .copyrights{
                margin-top: 0%;
            }
            .digit{
                font-size: 20px;
        
            }
        
        }
        
        
         