body{
    font-family:'Old Standard TT';
  }
  .navbar-logo img{
      height: 50px;
      width: 50px;
      margin-left: 30px;
  }
  .navbar {
      display: flex;
      gap: 20%;
      align-items: center;
      background-color: white;
      color: black;
      height: 60px;
      font-size: 20px;
      padding: 12px 12px;
    }
    .menu-icon {
      display: none;
      font-size: 1.8rem;
      cursor: pointer;
      z-index: 1002;
      position: absolute;
      top: 20px;
      right: 20px;
      transition: color 0.3s ease-in-out;
    }
    .menu-icon.open {
      color: white;
    }
    .links {
      display: flex;
      justify-content: space-between;
      list-style: none;
      text-decoration: none;
    }
    .links a{
      text-decoration: none;
      color: black;
    }
    .Links{
      width: 60%;
      margin-left: 14%;
    }
    ul{
      display: flex;
      gap: 10%;
    }
    @media (max-width: 900px) {
      .navbar-logo img{
        height: 40px;
        width: 40px;
        margin-left: 5px;
      }
      .menu-icon {
        display: block;
      }
      .navbar ul {
        display: none;
        top: 0;
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        opacity: 0.94;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 1000;
        border: solid 1px;
        align-items: center;
        font-size: 20px;
      }
      .links a{
        color: white;
      }
      .navbar ul.show {
        display: flex;
        flex-direction: column;
      }
      .navbar ul li {
        padding: 1rem;
        border-bottom: 1px solid #444;
        text-align: center;
      }
    }
    @media (max-width: 900px) {
      .links {
        display: none;
        text-decoration: none;
      }

      
    }
    @media screen and (min-width: 1021px) and (max-width:1050px){
      body{
        font-family:'Old Standard TT';
      }
      .navbar-logo img{
          height: 50px;
          width: 50px;
          margin-left: 69%;
      }
      .navbar {
          display: flex;
          gap: 20%;
          align-items: center;
          background-color: white;
          color: black;
          height: 60px;
          font-size: 20px;
          padding: 12px 12px;
          margin-right: 30%;
        }
        .menu-icon {
          display: none;
          font-size: 1.8rem;
          cursor: pointer;
          z-index: 1002;
          position: absolute;
          top: 20px;
          right: 20px;
          transition: color 0.3s ease-in-out;
        }
        .menu-icon.open {
          color: white;
        }
        .links {
          display: flex;
          justify-content: space-between;
          list-style: none;
        }
        .Links{
          width: 70%;
          margin-left: 45%;
        }
        ul{
          display: flex;
          gap: 10%;
        }
    }
    @media screen and (min-width: 700px) and (max-width:860px){
      .navbar-logo img{
        height: 50px;
        width: 50px;
        margin-left: 42%;
    }
    .menu-icon{
      margin-right: 2.5%;
    }
    }
    @media screen and (min-width : 900px) and (max-width : 915px){
      body{
        font-family:'Old Standard TT';
      }
      .navbar-logo img{
          height: 50px;
          width: 50px;
          margin-left: 69%;
      }
      .navbar {
          display: flex;
          gap: 20%;
          align-items: center;
          background-color: white;
          color: black;
          height: 60px;
          font-size: 20px;
          padding: 12px 12px;
        }
        .menu-icon {
          display: none;
          font-size: 1.8rem;
          cursor: pointer;
          z-index: 1002;
          position: absolute;
          top: 20px;
          right: 20px;
          transition: color 0.3s ease-in-out;
        }
        .menu-icon.open {
          color: white;
        }
        .links {
          display: flex;
          justify-content: space-between;
          list-style: none;
          text-decoration: none;
        }
        .Links{
          width: 70%;
          margin-left: 1%;
          text-decoration: none;
        }
        ul{
          display: flex;
          gap: 10%;
        }
    }
    @media screen and (min-width: 1200px) and (max-width:1280px){
      body{
        font-family:'Old Standard TT';
      }
      .navbar-logo img{
          height: 50px;
          width: 50px;
          margin-left: 69%;
      }
      .navbar {
          display: flex;
          gap: 20%;
          align-items: center;
          background-color: white;
          color: black;
          height: 60px;
          font-size: 20px;
          padding: 12px 12px;
        }
        .menu-icon {
          display: none;
          font-size: 1.8rem;
          cursor: pointer;
          z-index: 1002;
          position: absolute;
          top: 20px;
          right: 20px;
          transition: color 0.3s ease-in-out;
        }
        .menu-icon.open {
          color: white;
        }
        .links {
          display: flex;
          justify-content: space-between;
          list-style: none;
          text-decoration: none;
        }
        .Links{
          width: 70%;
          margin-left: 2%;
          text-decoration: none;
        }
        ul{
          display: flex;
          gap: 10%;
        }
      }